<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Blog spot</title>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>  
  <body>
    <header class="container">
      <h1 class="text-center"><a href="/blog" class="title">The Blog</a></h1>
      <div class="row">
      {% if user == "" or user == None %}
        <a href="/login">login</a>
        <a href="/SignUp">Sign up</a>
      {% else %}
        <div><a href="/logout">logout</a><span>({{user}})</span>
        <a href="/blogform">post a blog</a></div>
      {% endif %}
      </div>
    </header>
    <hr>
     {% block content %}
     {% endblock %}
  </body>
</html>