{% extends "base.html" %}
{% block content %}
    <header>
      <h1 class="text-center">The Blog</h1>
      </header>
      <article class="container">
        <section class="row">
          <form>
            <label>
              Title:
              <input type="text" name="title" value="title">
              </label>
              <br>
            <label>
              Blog:
              <textarea value="rant" name="rant">
              </textarea>
              </label>
            <button>Commit</button>
            </form>
        </section>
      </article>

{% endblock %}