<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>The Blog</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1 class="text-center">The Blog</h1>
      </header>
      <article class="container">
        <section class="row">
          <form>
            <label>
              Title:
              <input type="text" name="title" value="title">
              </label>
              <br>
            <label>
              Blog:
              <textarea value="rant" name="rant">
              </textarea>
              </label>
            <button>Commit</button>
            </form>
        </section>
      </article>
  </body>
</html>