{% extends "base.html" %}
{% block content %}
  <div>
    {% for i in posts %}
    <article class="container">
      <section class="row">
      <h1><a href="/blog/{{ i.key().id()}}">{{ i.title }}</a></h1>
      </section>
      <section class="row">
      {{ i.user }}
      {{ i.dateTime.strftime("%b %d %Y")}}
      </section>
      <section class="row">
      <pre class=""><!-- Pre keeps the post format, like the indentation -->
          {{ i.bpost }}
      </pre>
      </section>
      <section class="row">
      {% if user != "" and user != None%}
        {% if user != i.user %}
      <form method="POST" action="/likes">
        <button class="" name="like" value="{{ i.key().id() }}">Like</button>
      </form>
      {% else %}
      <form method="get">
        <a href="/editpost/{{ i.key().id() }}" name="edit" value="EditPost">Edit</a>
        <a href="/delete/{{ i.key().id() }}" class="delete">Delete</a>
      </form>
        {% endif %}
      {% endif %}
      <div>Likes {{ i.likes|length }}</div>
      </section>
      <!-- view comments -->
      <section class="comments">
      {% for n in comments %}
      {% if n.commentId == i.key().id() %}
      <div class="container">
        <div class="row">
          <h4> {{ n.title }}</h4>
        </div>
          <div class="row">
          <div class="#">{{ n.comment }}</div>
        </div>
      </div>
      <div class="row">
        <div class="#">
          <p>{{ n.user }}</p>
          <p>{{ n.dateTime.strftime("%b %d %Y") }}</p>
          {% if user != "" and user != None %}
          <a href="/editpost/{{ n.key().id() }}">Edit</a><a href="/delete/ {{ n.key().id() }}">Delete</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </article>
    {% endfor %}
    {% endblock %}