{% extends "base.html" %}
{% block content %}
  <form method="POST">
    <label>
        <div>Name:</div>
        <input type="text" name="name" value="{{name}}">
    </label>
    <label>
        <div>Password:</div>
        <input type="password" name="pwd">
    </label>
    <label>
        <div>Verify password:</div>
        <input type="password" name="verifypwd">
    </label>
    <label>
        <div>Email:</div>
        <input type="email" name="email" value="{{email}}">
    </label>
    <button> log in</button>
    <a href="#">cancel</a>
  </form>

{% endblock %}