{% extends "base.html" %}
{% block content %}
<h2>{{ post.title }}</h2><div>{{ post.user}} <div>{{ post.dateTime.strftime("%b %d, %Y")}}</div>
<hr>
<pre>{{ post.bpost }}</pre>

<h3>Comments</h3>
{% for i in comments %}
{% if editKey == i.key() and task == "EditComment" %}
  <form method="POST">
    <input type="hidden" name="task" value="EditComment">
    <label>
      <div>Title:</div>
      <input type="text" name="Etitle" value="{{ i.title }}">
    </label>
    <label>
      <div>Comment:</div>
      <textarea name="Ecomment" value="{{ i.comment }}" required>{{ i.comment }}</textarea>
    </label>
    <button name="edit" value="{{ editKey }}">Submit</button>
    <a href="/blog/{{ post.key().id() }}">Cancel</a>
  </form>

{% else %}
  <h3>{{i.title}}</h3>
  <p>{{ i.comment }}</p>
  <div>{{ i.user }}</div>
  <div>{{i.dateTime.strftime("%b %d %Y")}}</div>
  
  {% if editKey == i.key() and task == "DeleteComment" %}
     <div>Do you want to <span class="error">delete</span> this comment?</div>
     <form method="POST">
       <input type="hidden" name="delete" value="{{ i.key.id }}">
       <button>Delete</button><a href="/blog/{{post.key().id() }}">Cancel</a>
     </form>
  {% endif %}
{% endif %}
{% if user == i.user %}
{% if task == "" or editKey != i.key() %}
  <form>
    <input type="hidden" name="task" value="EditComment">
    <button name="edit" value="{{ i.key().id() }}">Edit</button>
  </form>
  
  <form>
    <input type="hidden" name="task" value="DeleteComment">
    <button name="delete" value="{{ i.key().id() }}">Delete</button>
  </form>
  {% endif %}
{% endif %}
{% endfor %}
<section class="NewComment">
  <div class="container">
    <div class="row">
      <form method="POST">
        <label>
          <div>Title:</div>
          <input type="text" name="Ctitle" value="{{ Ctitle }}">
        </label>
        {% if Ctitle == "" and  error == True %}
        <div class="error">Title is needed</div>
        {% endif %}
        <br>
        <label>
          <div>Comment</div>
          <textarea name="comment" value="{{ comment }}">{{ comment }}</textarea>
        </label>
        {% if comment == ""  and error == True %}
        <div class="error">Please enter a comment</div>
        {% endif %}
        <br>
          <button name="postid" value="{{ post.key().id() }}">Submit</button>
          <a href="/blog">Cancel</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}