{% extends "base.html" %}
{% block content %}
<section class="containter">
  <div class="row">
    <h2 class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">{{ post.title }}</h2>
    </div>
 
    <div class="row">
    <pre class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">{{ post.bpost }}</pre>
  </div>
  <div class="row">
    <div class="col-xs-offset-10 col-xs-1 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1">{{ post.user}}</div> 
    </div>
    <div class="row">
    <div class="col-xs-offset-10 col-xs-1 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1">{{ post.dateTime.strftime("%b %d, %Y")}}</div>
  </div>
</section>
<hr>
<div class="container">
<h3 class="text-center">Comments</h3>
<hr>
</div>
{% for i in comments %}
{% if editKey == i.key() and task == "EditComment" %}

  <form method="POST" class="container">
  <div class="row">
  <h4 class="text-center">Edit Comment</h4>
  </div>
  <!-- Edit comment -->
    <input type="hidden" name="task" value="EditComment">
    <div class="row">
    <label class="col-xs-4 col-sm-2 col-md-1 col-lg-offset-4 col-lg-1">Title:</label>
    <input type="text" name="Etitle" value="{{ i.title }}" class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="row">
    <label class="col-xs-4 col-sm-2 col-md-1 col-lg-offset-4 col-lg-1">Comment:</label>
    <textarea name="Ecomment" value="{{ i.comment }}" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{{ i.comment }}</textarea>
    </div>
    <div class="row">
    <button name="edit" value="{{ editKey }}" class="col-xs-offset-4 col-xs-3 col-sm-offset-2 col-sm-2 col-md-offset-1 col-md-1 col-lg-offset-6 col-lg-1">Submit</button>
    <a href="/blog/{{ post.key().id() }}" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Cancel</a>
    </div>
  </form>
<hr>
{% else %}
<!-- comment -->
<section class="container">
  <div class="row">
    <h3 class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{i.title}}</h3>
  </div>
  <div class="row">
    <p class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{{ i.comment }}</p>
  </div>
  <div class="row">
    <div class="col-xs-offset-10 col-xs-1 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1">{{ i.user }}</div>
  </div>
  <div class="row">
    <div class="col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-10 col-md-2 col-lg-offset-10 col-lg-2">{{i.dateTime.strftime("%b %d %Y")}}</div>
  </div>
    {% if message != "" %}
      <div class="error">{{ message }}</div>
    {% endif %}
  </section>
  {% if editKey == i.key() and task == "DeleteComment" %}
  <div class="container">
    <div class="row">
     <div class="text-center">Do you want to <span class="error">delete</span> this comment?</div>
     </div>
     <form method="POST" class="row">
       <input type="hidden" name="delete" value="{{ i.key.id }}">
       <button class="col-xs-offset-5 col-xs-2 col-sm-offset-5 col-sm-2 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-1">Delete</button>
       <a href="/blog/{{post.key().id() }}" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Cancel</a>
     </form>
   </div>
   <br>
   <br>

  {% endif %}
{% endif %}
{% if user == i.user %}
{% if task == "" or editKey != i.key() %}
<section class="container">
 <div class="row">
  <form>
    <input type="hidden" name="task" value="EditComment">
    <button name="edit" value="{{ i.key().id() }}" class="col-xs-offset-10 col-xs-1 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1">Edit</button>
  </form>
  
  <form>
    <input type="hidden" name="task" value="DeleteComment">
    <button name="delete" value="{{ i.key().id() }}" class="col-xs-2 col-sm-2 col-md-2 col-lg-1">Delete</button>
  </form>
 </div>
</section>
  {% endif %}
{% endif %}
{% endfor %}

{% if message == "" %}
<section class="NewComment">
  <div class="container">
    <div class="row">
     <h4 class="text-center">New Comment</h4>
    </div>
      <form method="POST">
       <div class="row">
        <label class=" col-xs-4 col-sm-2 col-md-1 col-lg-offset-4 col-lg-1">Title:</label>
          <input type="text" name="Ctitle" value="{{ Ctitle }}" class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
        {% if Ctitle == "" and  error == True %}
        <div class="error col-xs-2 col-sm-2 col-md-2 col-lg-2">Title is needed</div>
        {% endif %}
        </div>
        <div class="row">
        <label class="col-xs-4 col-sm-2 col-md-1 col-lg-offset-4 col-lg-1">Comment:</label>
          <textarea name="comment" value="{{ comment }}" class="col-xs-6 col-sm-4 col-md-3 col-lg-3">{{ comment }}</textarea>
        {% if comment == ""  and error == True %}
        <div class="error col-xs-2 col-sm-2 col-md-2 col-lg-2">Please enter a comment</div>
        {% endif %}
        </div>
        <div class="row">
          <input type="hidden" name="task" value="NewComment">
          <button name="postid" value="{{ post.key().id() }}" class="col-xs-offset-4 col-xs-4 col-sm-offset-5 col-sm-2 col-md-offset-1 col-md-1 col-lg-offset-6 col-lg-1">Submit</button>
          <a href="/blog/{{post.key().id() }}" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}